<!-- The content below is only a placeholder and can be replaced. -->


<div class="row">
    <div class="input-field col s12">
        <button class="option" routerLink = "/category" bgcolor = "#083045" >Category</button>
        <button class="option" routerLink = "/product" bgcolor = "#083045" >Product</button>
        <!-- <button class="option" routerLink = "/product_list" bgcolor = "#083045" >Product List</button> -->
        <button class="option" routerLink = "/list" bgcolor = "#083045" >List</button>
    </div>
</div>

<router-outlet></router-outlet>

<!-- <app-category></app-category> -->
 
