<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <h4 style="text-align: center;">Product List</h4>

            <div class="row">
              <div class="input-field col s2">           
              Page Size:  
              <select class="browser-default custom-select" name= "page"  (change)="onChange($event.target.value)">
                <option *ngFor="let page of page_size" [ngValue] = "page" >
                  {{ page }}
                </option>     
              </select>
              </div>
            </div>

            <table class="responsive-table highlight">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Product ID</th>
                  <th>Product Name</th>
                  <th>Category Name</th>
                  <th>Category ID</th>
                </tr>
              </thead>

              <tr *ngFor="let product of collection | paginate: { itemsPerPage: pageSize, currentPage: p }">
                <td>{{product.no}}</td>
                <td>{{product._id}}</td>
                <td>{{product.product_name}}</td>
                <td *ngFor="let category of product.category"> {{category.name}} </td>
                <td *ngFor="let category of product.category"> {{category._id}}  </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>